/*Textos*/
*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 16px;
}

/*Cuerpo*/
body{
	background: #EDEDED; 
}

/*Centra y pone negrilla a la clase centro*/
.centro{
	text-align: center;
	font-weight: bold;
}

.enviar-derecha{
	margin-left: auto;
}

/*CONTENEDOR*/
/*Crea contenedores con 3 partes*/
#contenedor{
	background: #ffffff;
	max-width: 1100px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
}
 /*Centra en cada contenedor su informacion*/
#contenedor #contenedorInterno{
	flex-grow: 1;
	padding: 10px;
}
#contenedor #contenedorCentral{
	flex-grow: 1;
	padding: 40px;
}
/*Centra el tamaño de la imagen*/ 
#contenedor aside{
	width: 300px;
	background: #AEAEAE;
	padding: 10px;
}

/*da formato especifico aside*/
.foto{
	width: 280px;
	background: #3cb2c8;
	margin: auto;
	margin-bottom: 5px;
	padding: 6px;
	color: #ffffff;
	transition: all .2s;
}
.articuloRelacionado:hover{
	transform: scale(1.04);
	box-shadow: 0px 0px 5px 0px #777;
}

/**/
.categoria{
	display: flex;
	background: #F1F1F1;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom:  solid 1.5px #B5B5B5;
}
/*CONTENEDOR*/

/*FOOTER*/
section#footer{
	background-color: #DAF7A6;
	color: #ffffff;
}
footer{
	display: flex;
	max-width: 110px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: auto;
	justify-content: space-between;
}
